<h1>Sub Successions</h1>
<a href="{{ url_for('add_sub_succession') }}" hx-get="{{ url_for('add_sub_succession') }}" hx-target="#content" hx-swap="innerHTML">Add New Sub Succession</a>
<ul id="sub-succession-list">
    {% for sub_succession in sub_successions %}
    <li id="sub-succession-{{ sub_succession._id }}">
        <span hx-get="{{ url_for('edit_sub_succession', id=sub_succession._id) }}" hx-target="#content" hx-swap="innerHTML">{{ sub_succession.sub_succession_number }}</span>
        <button hx-delete="{{ url_for('delete_sub_succession', id=sub_succession._id) }}" hx-target="#sub-succession-{{ sub_succession._id }}" hx-swap="outerHTML">Delete</button>
    </li>
    {% endfor %}
</ul>
<a href="{{ url_for('index') }}" hx-get="{{ url_for('index') }}" hx-target="#content" hx-swap="innerHTML">Back to Home</a>
